<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup/Register</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/signup.css') }}">

</head>
<body>
    <div id="container">
        <h1 style="background-color: white;">Register for an account</h1><br><br>
        <form name="myForm" onsubmit="return validateForm()" id="userform" action="/register" method="POST">
             <input type="text" name="username" placeholder="Enter UserName" id="useremail" autocomplete="off"><br><br>
             <span id="span" style="color: red; background-color: white; font-weight: bold;"></span><br>
             <input type="text" name="fname" placeholder="Enter First Name" id="FirstN" autocomplete="off"><br><br>
             <span id="span" style="color: red; background-color: white; font-weight: bold;"></span><br>
             <input type="text" name="lname" placeholder="Enter Last Name" id="LastN" autocomplete="off"><br><br>
             <span id="span" style="color: red; background-color: white; font-weight: bold;"></span><br>
             <input type="password" name="password" placeholder="Enter Password" id="UserP" autocomplete="off"><br><br>
            <input type="submit" value="Submit" style="background-color: green; font-weight: bold;" >
          </form><br>
        <a href="/">
        <button id="signupbtn" onsubmit="validation()">SignUp/Register</button></a><br>
        <p style="background-color: white; font-weight: bold;">By signing up, you agree to our Terms , Data<br> Policy and Cookies Policy .</p>
    </div>
    <script>
        function validateForm() {
        var x = document.forms["myForm"]["fname"].value;
        if (x == "") {
        alert('Please Fill All Fields First')
         return false;
         }
         else{
             return true;
         }
            }
        </script>

</body>
</html>